.gallery img{
    width: 50%
}
h2{
    font-family: monospace;
    color:chocolate;
}
h4{
    color:darkslategrey;
}
p b{
    font-style: oblique;
    color: darkgrey;
}
p{
    font-style:italic;
}
#menu{
    width 100%;
    height:40px;
    background-color:burlywood;
    padding-top: 12px;
}
#menu a{
    color:antiquewhite;
    font-family:Helvetica,fantasy;
    font-size 20px;
    text-decoration: underline;
    font-weight:800;
    
    padding-left: 20px;
    padding-right: 20px;
}
#menu a:hover{
    color:aliceblue;
}
h1{
    padding-top: 10px;
}
h5{
  padding-left: 260px;
}